
 <tr class="nested-fields">
   <td><%=f.collection_select :product_id, Product.all, :id, :name %></td>
   <td><%=f.input :quantity, class: 'padli' %></td>
   <td><%= f.hidden_field :_destroy %>  </td>
    <td>
   <%= link_to_remove_association "remove items", f, class: 'btn btn-primary btn-xs' %>
   </td>
 </tr>